/* #proto-nexus {
  border: 1px solid red;
} */
/* #proto-nexus * {
  border: 1px solid rgba(0, 225, 255, 0.42);
} */
/* CONTAINER */
#proto-nexus {
  text-align: center;
}
#proto-nexus-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
/* CLOCK */
#pnt-clock {
  width: 12rem;
  height: 12rem;
  border-radius: 999rem;
}
#pnt-clock svg {
  display: block;
  width: 100%;
  height: 100%;
}
#pnt-numbers {
  font-weight: 500;
}
#pnt-numbers span {
  display: block;
  font-size: 0.8em;
  font-weight: 400;
}
/* BUTTONS */
#proto-nexus-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
#proto-nexus-buttons > button {
  /* Size smaller as we go down ?*/
  width: 10rem;
  height: 10rem;
  padding: 3rem;
  background: var(--clrBgLight);
}
#proto-nexus-buttons > button:hover,
#proto-nexus-buttons > button:focus-visible {
  background: var(--clrHover);
}
#proto-nexus-buttons > button:active {
  color: var(--clrBg);
  background: var(--clrText);
}
/* WEATHER */
#proto-nexus-weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.pnw-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 8rem;
  overflow: hidden;
}
.pnw-item span {
  display: block;
}
.pnw-label {
  font-size: 0.8em;
}
.pnw-item svg {
  width: 3rem;
  height: 3rem;
}
.pnw-temp,
.pnw-rain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* MUSIC PLAYER */
#proto-nexus-music {
  display: flex;
  align-items: stretch;
  gap: 2rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8em;
  background: var(--clrBgLight);
}
#proto-nexus-music img {
  flex-shrink: 0;
  width: 5rem;
  min-height: 5rem;
  object-fit: cover;
  border: 1px solid var(--clrBorder);
}
#pnm-player {
  display: none !important;
}
#pnm-meta {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
#pnm-head {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  row-gap: 0.5rem;
}
#pnm-title {
  flex-grow: 2;
  width: 20rem;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#pnm-controls {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
#pnm-time {
  font-family: var(--GeistMono);
}
#pnm-controls input {
  width: 12rem;
}
#pnm-controls > button {
  background: none;
}
#pnm-controls > button svg {
  width: 1.5em;
  height: 1.5em;
}
