/* #proto-nexus {
  border: 1px solid red;
}
#proto-nexus * {
  border: 1px solid rgba(0, 225, 255, 0.42);
} */
/* These lab experiments aren't made for this site's conventions so need to run an unset */
section > :not(:last-child) {
  margin-bottom: 0;
}
/* CONTAINER */
#proto-nexus {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  text-align: center;
}
/* CLOCK */
#pnt-clock {
  position: relative;
  width: 12rem;
  height: 12rem;
  border-radius: 999rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
#pnt-clock svg {
  display: block;
  width: 100%;
  height: 100%;
}
#pnt-hour-hand,
#pnt-minute-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 0.3rem;
  background: var(--clrText);
  transform-origin: left center;
}
#pnt-hour-hand {
  clip-path: polygon(40% 50%, 100% 100%, 100% 0);
}
#pnt-minute-hand {
  clip-path: polygon(10% 50%, 100% 100%, 100% 0);
}
#pnt-numbers {
  font-family: var(--GeistMono);
  font-weight: 500;
}
#pnt-numbers span {
  display: block;
  font-family: var(--GeistSans);
  font-size: 0.8em;
  font-weight: 400;
}
/* BUTTONS */
#proto-nexus-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
#proto-nexus-buttons > button {
  /* Size smaller as we go down ?*/
  width: 10rem;
  height: 10rem;
  padding: 3rem;
  background: var(--clrBgLight);
}
#proto-nexus-buttons > button:hover,
#proto-nexus-buttons > button:focus-visible {
  background: var(--clrHover);
}
#proto-nexus-buttons > button:active {
  color: var(--clrBg);
  background: var(--clrText);
}
/* WEATHER */
#proto-nexus-weather {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
}
.pnw-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}
.pnw-item span {
  display: block;
}
.pnw-label {
  font-size: 0.8em;
}
.pnw-item svg {
  width: 3rem;
  height: 3rem;
}
.pnw-temp,
.pnw-rain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* MUSIC PLAYER */
#proto-nexus-music {
  display: flex;
  align-items: stretch;
  gap: 2rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8em;
  background: var(--clrBgLight);
  overflow: hidden;
}
#proto-nexus-music img {
  flex-shrink: 0;
  width: 5rem;
  min-height: 5rem;
  object-fit: cover;
  border: 1px solid var(--clrBorder);
}
#pnm-player {
  display: none !important;
}
#pnm-right {
  container-type: inline-size;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
#pnm-head {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 0;
}
#pnm-title {
  flex-grow: 1;
  width: 100%;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#pnm-group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
#pnm-time {
  white-space: nowrap;
  font-family: var(--GeistMono);
}
#pnm-controls {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
#pnm-controls > * {
  flex-shrink: 0;
}
#pnm-controls button {
  background: none;
}
.pnm-prevnext svg {
  width: 1.2em;
  height: 1.2em;
}
#pnm-playpause svg {
  width: 1.4em;
  height: 1.4em;
}
#pnm .pnm-range-wrapper {
  width: 100%;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pnm-range-wrapper:active {
  cursor: grabbing;
}
.pnm-range-track {
  position: relative;
  height: 0.5rem;
  cursor: pointer;
  background: var(--clrDetail);
}
.pnm-range-track::before {
  content: "";
  position: absolute;
  inset: 0;
}
.pnm-range-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: var(--clrPrimary);
}
.pnm-range-thumb {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  display: block;
  width: 0.75rem;
  height: 1.5rem;
  background: var(--clrText);
}
#pnm-volume {
  width: 10rem;
}
#pnm-volume .pnm-range-track::before {
  inset: -0.5rem 0;
}
#pnm-seek .pnm-range-track::before {
  top: -0.5rem;
}
@container (max-width: 50rem) {
  #pnm-head {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  /* Figure something out for last wrap */
  #pnm-group {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}
