:root {
  --siteMaxWidth: 1440px;
  --sitePadding: 2rem;
  --navWidth: 6rem;
  --navPadding: 1rem;
  --headerHeight: 12rem;
}
:root[data-theme="dark"] {
  --clrPrimary: hsl(0, 95%, 62%); /* Imperial Red */
  --clrBg: hsl(240, 11%, 7%); /* Night */
  --clrBgLight: hsl(240, 11%, 10%); /* Raisin Black */
  --clrHeading: hsl(0, 0%, 100%); /* White */
  --clrText: hsl(240, 9%, 91%); /* Offwhite */
  --clrDetail: rgb(171, 171, 171); /* Silver */
  --clrScroll: hsl(240, 3%, 19%);
  --clrBorder: hsl(240, 3%, 19%);
  --clrHover: hsl(240, 3%, 19%);
}
:root[data-theme="light"] {
  --clrPrimary: hsl(243.61, 64.52%, 29.41%);
  --clrBg: hsl(0, 0%, 88.24%);
  --clrBgLight: hsl(0, 0%, 76%);
  --clrHeading: hsl(0, 0%, 0%);
  --clrText: hsl(0, 0%, 5%);
  --clrDetail: rgb(105, 105, 105);
  --clrScroll: hsl(240, 3%, 19%);
  --clrBorder: hsl(0, 0%, 0%);
  --clrHover: hsl(0, 0%, 76%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  color: var(--clrText);
  background-color: var(--clrBg);
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  min-height: 100dvh;
  padding: 0 var(--sitePadding) 0 calc(var(--sitePadding) + var(--navWidth) + var(--navPadding));
  font-size: 1.6rem;
  overflow-x: hidden;
  transition: padding 0.2s ease;
}
header,
main,
footer {
  max-width: var(--siteMaxWidth);
  width: 100%;
}
header,
footer {
  flex-shrink: 0;
  padding: 4rem 0;
}
header {
  display: flex;
  align-items: center;
  min-height: var(--headerHeight);
}
main {
  flex-grow: 1;
}
section:not([aria-label="Notifications alt+T"]) /* Avoids Sonner's section */ {
  padding: 2rem 0;
}
section > *:not(:last-child) {
  margin-bottom: 2ch;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
  color: var(--clrDetail);
  font-weight: 100;
  text-align: center;
}
/* DEFAULTS */
h1,
h2,
h3,
h4,
h5,
h6,
.mono {
  font-weight: 400;
  font-family: var(--GeistMono);
  color: var(--clrHeading);
}
img {
  display: block;
  max-width: 100%;
  font-family: inherit;
  color: inherit;
  white-space: nowrap;
}
svg {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
ul,
ol {
  list-style-position: inside;
}
ul.dash-list li::before {
  display: inline;
  content: "- ";
}
button {
  font-family: var(--GeistMono);
  border: none;
}
button:not(:disabled) {
  cursor: pointer;
}
button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.table-wrapper {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--clrScroll) var(--clrBgLight);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table tr {
  border-bottom: 1px solid var(--clrBorder);
}
table th {
  font-family: var(--GeistMono);
  font-weight: 400;
  color: var(--clrDetail);
  text-align: start;
}
table th,
table td {
  padding: 0.5rem 2rem;
}
table th:first-child,
table td:first-child {
  padding-left: 0.5rem;
}
table th:last-child,
table td:last-child {
  padding-right: 0.5rem;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
[popover] {
  color: inherit;
  border: none;
  height: auto;
}
.link {
  color: var(--clrPrimary);
}
.link:hover {
  text-decoration: underline;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  font-weight: 600;
  color: inherit;
  background: var(--clrBg);
  border: 1px solid var(--clrBorder);
}
.btn svg {
  height: 1.2em;
  width: 1.2em;
}
.btn:hover,
.btn:focus-visible {
  background: var(--clrHover);
}
.btn:active {
  color: var(--clrBg);
  background: var(--clrText);
}
.detail {
  color: var(--clrDetail);
  font-weight: 400;
}
.detail-thin {
  color: var(--clrDetail);
  font-weight: 200;
}
summary {
  cursor: pointer;
}
details[open] summary {
  margin-bottom: 1rem;
}
details ul,
details ol {
  padding-left: 1rem;
}
#proto-h1 {
  position: relative;
}
#proto-h1 span {
  position: absolute;
  left: 0;
  bottom: -1rem;
  font-size: 1.2rem;
  color: var(--clrDetail);
}
/**/
/* NAV */
#nav-trigger {
  position: fixed;
  top: 2rem;
  right: var(--sitePadding);
  display: none;
  color: var(--clrText);
  background: none;
  backdrop-filter: blur(1rem);
  transition: background-color 0.2s ease;
  z-index: 9900;
}
body:has(#nav:popover-open) #nav-trigger {
  display: none;
}
#nav-trigger:hover,
#nav-trigger:focus-visible {
  background-color: var(--clrBg);
}
#nav-trigger svg {
  display: block;
  width: 4rem;
  height: 4rem;
}
nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  width: var(--navWidth);
  padding: var(--navPadding);
  background-color: var(--clrBgLight);
  z-index: 9999;
  transition: all 0.2s ease;
  overflow: hidden;
}
.nav-preview {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-preview > svg,
.nav-preview > img {
  /* Shown while navbar is collapsed */
  flex-shrink: 0;
  display: block;
  width: calc(var(--navWidth) - var(--navPadding) * 2);
  aspect-ratio: 1;
  overflow: hidden;
}
.nav-preview > svg {
  object-fit: contain;
}
.nav-preview > img {
  object-fit: cover;
}
.nav-reveal {
  /* Hidden while navbar is collapsed */
  opacity: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 0.2s ease;
}
#nav-header {
  flex-shrink: 0;
  font-family: var(--GeistMono);
  font-weight: 500;
}
#nav-logo-accent {
  color: var(--clrPrimary);
}
#nav-links {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: var(--GeistMono);
  overflow: hidden auto;
  scrollbar-width: none;
  scrollbar-color: var(--clrScroll) var(--clrBgLight);
}
#nav-links a:not(.active-link):hover,
#nav-links a:not(.active-link):focus-visible {
  background-color: var(--clrBg);
}
.active-link {
  color: var(--clrBg);
  font-weight: 600;
  background-color: var(--clrPrimary);
}
#nav-links svg {
  padding: 1rem;
}
#nav-footer {
  flex-shrink: 0;
}
.ac-avatar {
  flex-shrink: 0;
  width: calc(var(--navWidth) - var(--navPadding) * 2);
  aspect-ratio: 1;
  border: 1px solid var(--clrBorder);
  border-radius: 999rem;
  overflow: hidden;
}
.ac-avatar svg {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--clrBorder);
}
img.ac-avatar {
  object-fit: cover;
}
.ac-pending {
  border-top-color: var(--clrPrimary);
  animation: spin 1.5s infinite;
}
.ac-pending svg {
  display: none;
}
.ac-name {
  font-size: 1.4rem;
}
.ac-buttons {
  display: flex;
  gap: 1rem;
}
.ac-buttons > * {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  color: var(--clrDetail);
  background: none;
}
.ac-buttons > *:hover,
.ac-buttons > *:focus-visible {
  color: inherit;
}
/**/
/* HOMEPAGE */
.tech-table th,
.tech-table td {
  padding: 1rem 2rem;
}
.tech-table tr td:first-child {
  font-weight: 600;
}
/* HERO-TYPE HEADER (HOME)*/
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  text-align: center;
  font-size: min(4vw, 80dvh);
}
.hero h1 {
  position: relative;
  animation: fadeblur 2s ease-out forwards;
}
/* [data-theme="light"] .hero h1::after {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  transform-origin: bottom;
  transform: skewX(30deg) scaleY(0.3) translateY(-0.68em) translateX(0.17em);
  color: var(--clrDetail);
  filter: blur(0.7rem);
  z-index: -1;
}
[data-theme="light"] #hero3::after {
  content: ".";
  position: absolute;
  inset: 0;
  transform-origin: bottom;
  transform: skewX(30deg) scaleY(0.3) translateY(-0.68em) translateX(0.17em);
  color: var(--clrDetail);
  filter: blur(0.7rem);
  z-index: -1;
} */
#hero1,
#hero2,
#hero3 {
  filter: drop-shadow(0 0 0.3rem);
}
#hero2 {
  color: var(--clrPrimary);
}
:root[data-theme="light"] #hero1,
:root[data-theme="light"] #hero2,
:root[data-theme="light"] #hero3 {
  filter: none;
}
.chevron-anchor {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 2rem;
  left: 50%;
  display: block;
  width: 8rem;
  height: 8rem;
  font-size: 1rem;
  transition: all 0.2s ease;
  opacity: 0.2;
}
.chevron-anchor:hover,
.chevron-anchor:focus-visible {
  color: var(--clrText);
  opacity: 1;
}
/**/
/* SIGN IN PAGE/CARD */
#sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--sitePadding);
}
.authcard {
  padding: 2rem;
  border: 1px solid var(--clrBorder);
}
.authcard > *:not(:last-child) {
  margin-bottom: 2rem;
}
.authcard-content > *:not(:last-child) {
  margin-bottom: 1rem;
}
.authcard-content button {
  width: 100%;
}
/**/
/* NOT FOUND */
#not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#not-found h1 {
  position: relative;
}
.nf1,
.nf2 {
  display: block;
}
.nf1 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: min(50vw, 80dvh);
  opacity: 0.01;
  z-index: -1;
}
.blink {
  position: absolute;
  left: 100%;
  color: var(--clrPrimary);
  animation: blink 2s steps(1, start) infinite;
}
/**/
/* SONNER RESTYLE */
.sonner-card {
  font-family: var(--GeistMono);
  color: inherit;
  background-color: var(--clrBg) !important;
  border: 1px solid var(--clrBorder) !important;
  border-radius: 0;
}
/**/
/* SCREEN MEDIA QUERIES */
@media only screen and (min-width: 769px) {
  nav:hover,
  nav:has(:focus-visible) {
    width: min(25rem, 100%);
  }
  nav:hover #nav-links,
  nav:has(:focus-visible) #nav-links {
    scrollbar-width: thin;
  }
  nav:hover .nav-reveal,
  nav:has(:focus-visible) .nav-reveal {
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  body {
    padding: 0 var(--sitePadding);
  }
  /* Turn nav into mobile nav using Popover API */
  #nav-trigger {
    display: block;
  }
  nav:popover-open {
    width: min(25rem, 100%);
    transform: translateX(0);
  }
  #nav-links {
    scrollbar-width: thin;
  }
  nav:popover-open .nav-reveal {
    opacity: 1;
  }
  nav:not(:popover-open) {
    transform: translateX(-100%);
    visibility: hidden;
  }
  nav::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(0.5rem);
  }
}
/**/
/* ANIMATION KEYFRAMES */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeblur {
  0% {
    opacity: 0;
    filter: blur(50);
  }
  100% {
    opacity: 1;
    filter: unset;
  }
}
/**/
